# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# JSON Database

studiopozzi.json

.firebase/hosting.YnVpbGQ.cache
functions/node_modules/firebase-admin/node_modules/joi/.travis.yml
functions/node_modules/firebase-admin/node_modules/joi/API.md
functions/node_modules/firebase-admin/node_modules/joi/CONTRIBUTING.md
functions/node_modules/firebase-admin/node_modules/joi/LICENSE
functions/node_modules/firebase-admin/node_modules/joi/examples/customMessage.js
functions/node_modules/firebase-admin/node_modules/joi/examples/multipleWhen.js
functions/node_modules/firebase-admin/node_modules/joi/images/joi.png
functions/node_modules/firebase-admin/node_modules/joi/images/validation.png
functions/node_modules/firebase-admin/node_modules/joi/lib/alternatives.js
functions/node_modules/firebase-admin/node_modules/joi/lib/any.js
functions/node_modules/firebase-admin/node_modules/joi/lib/array.js
functions/node_modules/firebase-admin/node_modules/joi/lib/binary.js
functions/node_modules/firebase-admin/node_modules/joi/lib/boolean.js
functions/node_modules/firebase-admin/node_modules/joi/lib/cast.js
functions/node_modules/firebase-admin/node_modules/joi/lib/date.js
functions/node_modules/firebase-admin/node_modules/joi/lib/errors.js
functions/node_modules/firebase-admin/node_modules/joi/lib/index.js
functions/node_modules/firebase-admin/node_modules/joi/lib/language.js
functions/node_modules/firebase-admin/node_modules/joi/lib/number.js
functions/node_modules/firebase-admin/node_modules/joi/lib/object.js
functions/node_modules/firebase-admin/node_modules/joi/lib/ref.js
functions/node_modules/firebase-admin/node_modules/joi/lib/string.js
functions/node_modules/firebase-admin/node_modules/joi/test/alternatives.js
functions/node_modules/firebase-admin/node_modules/joi/test/any.js
functions/node_modules/firebase-admin/node_modules/joi/test/array.js
functions/node_modules/firebase-admin/node_modules/joi/test/binary.js
functions/node_modules/firebase-admin/node_modules/joi/test/boolean.js
functions/node_modules/firebase-admin/node_modules/joi/test/date.js
functions/node_modules/firebase-admin/node_modules/joi/test/errors.js
functions/node_modules/firebase-admin/node_modules/joi/test/function.js
functions/node_modules/firebase-admin/node_modules/joi/test/helper.js
functions/node_modules/firebase-admin/node_modules/joi/test/index.js
functions/node_modules/firebase-admin/node_modules/joi/test/number.js
functions/node_modules/firebase-admin/node_modules/joi/test/ref.js
functions/node_modules/firebase-admin/node_modules/joi/test/string.js
functions/node_modules/firebase-admin/node_modules/jsonwebtoken/bin/changelog
functions/node_modules/firebase-admin/node_modules/topo/.travis.yml
functions/node_modules/firebase-admin/node_modules/topo/API.md
functions/node_modules/firebase-admin/node_modules/topo/CONTRIBUTING.md
functions/node_modules/firebase-admin/node_modules/topo/LICENSE
functions/node_modules/firebase-admin/node_modules/topo/README.md
functions/node_modules/firebase-admin/node_modules/topo/lib/index.js
functions/node_modules/firebase-admin/node_modules/topo/test/index.js
functions/node_modules/joi/.travis.yml
functions/node_modules/joi/API.md
functions/node_modules/joi/CONTRIBUTING.md
functions/node_modules/joi/LICENSE
functions/node_modules/joi/examples/customMessage.js
functions/node_modules/joi/examples/multipleWhen.js
functions/node_modules/joi/images/joi.png
functions/node_modules/joi/images/validation.png
functions/node_modules/joi/lib/alternatives.js
functions/node_modules/joi/lib/any.js
functions/node_modules/joi/lib/array.js
functions/node_modules/joi/lib/binary.js
functions/node_modules/joi/lib/boolean.js
functions/node_modules/joi/lib/cast.js
functions/node_modules/joi/lib/date.js
functions/node_modules/joi/lib/errors.js
functions/node_modules/joi/lib/index.js
functions/node_modules/joi/lib/language.js
functions/node_modules/joi/lib/number.js
functions/node_modules/joi/lib/object.js
functions/node_modules/joi/lib/ref.js
functions/node_modules/joi/lib/string.js
functions/node_modules/joi/test/alternatives.js
functions/node_modules/joi/test/any.js
functions/node_modules/joi/test/array.js
functions/node_modules/joi/test/binary.js
functions/node_modules/joi/test/boolean.js
functions/node_modules/joi/test/date.js
functions/node_modules/joi/test/errors.js
functions/node_modules/joi/test/function.js
functions/node_modules/joi/test/helper.js
functions/node_modules/joi/test/index.js
functions/node_modules/joi/test/number.js
functions/node_modules/joi/test/ref.js
functions/node_modules/joi/test/string.js
functions/node_modules/jsonwebtoken/bin/changelog
functions/node_modules/mime/cli.js
functions/node_modules/topo/.travis.yml
functions/node_modules/topo/API.md
functions/node_modules/topo/CONTRIBUTING.md
functions/node_modules/topo/LICENSE
functions/node_modules/topo/README.md
functions/node_modules/topo/lib/index.js
functions/node_modules/topo/test/index.js
.firebase/hosting.YnVpbGQ.cache
