 /*<ImageFromStorage storageRef={ firebase.storage().ref('image').child("stilo.jpg")} alt={"studio"} className="imgCarousel" />*/
        /* Navigation*/
        .carousel-item:active{
            height: 10%;
            width:100%;
        }
        .imgCarousel{
            width:100%;
        }
        .navbar {
            background-color: transparent;
        }
        
        .top-nav-collapse {
            background-color: #304a74;
        }
      
        footer.page-footer {
            background-color: #304a74;
        }
        
        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #4285F4;
            }
        }
        
        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }
        /* Carousel*/
       
        .carousel {
            height: 30%;
        }
       
        @media (max-width: 776px) {
            .carousel {
                height: 100%;

            }
        }
        
        .carousel-item,
        .active {
            height: 100%;
           
        }
        .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
             max-height: 500px;
        }
        
        .carousel-inner {
            height: 100%;
        }
        
        /*Caption*/
        
        .flex-center {
            color: #fff;
        }


        ul {
          list-style: none;
          padding: 0;
        }
        ul>li {
          padding-left: 1.3em;
          border-bottom: 1px solid  #C0C0C0;
          padding-bottom: 0.7em;
          padding-top: 0.7em;
        }

        ul> li:before{
             content: "\f105"; 
          font-family: FontAwesome;
          background-color: #00345c;
          color:white;
          display: inline-block;
          border-radius:50%;
          /*margin-left: -1.3em;*/
          margin-right: 1em;
          text-align:center;
          vertical-align: middle;
          width: 22px;
          height: 22px;
          background-size:22px 22px;


        }
        li.attivitaMenu:before {

         
          background-color:#E0E0E0;
          color:black;

        }

    @media screen and (max-width: 699px ){

         .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
             max-height: 145px;
        }

    }