.containerSiti{

    align-items: center;
    width: 90%;
    height: auto;
    margin:auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.containerSito{
	
	width:50%;
	height: 50%;
	
  margin:auto;
  margin-bottom: 5em;
}
.avatarSito{

	width:100%;
	height: 20vh;
	
}
.avatarSito:hover{
	cursor:pointer;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .row > div:nth-child(2n+3) {
    clear: left;
  }  
  
}
@media (min-width: 1200px) {
  .row > div:nth-child(3n+4) {
    clear: left;
  }  
  
}
