body {
  background-color:#f0f0f5;
  margin: 0;
  padding: 0;
 
  font:normal normal 16px / 22px "Roboto", Helvetica, Arial, Verdana, sans-serif;;
  color: #3d3d3d;
  
  height: 100%;
}
.container{
	margin-top: 10vh;
	/*margin-left:20em;
	margin-right: 20em;*/

}

.contentContainer{
	margin:auto;
	/*margin-top: 10vh;
	margin-left: 5vh;
	margin-right: 5vh;
	margin-bottom: 10vh;*/
}
 h4{
 	font:normal 26px / 34px "Vollkorn", Helvetica, Arial, Verdana, sans-serif;
 	text-align: left;
 	color:#333333;
 	

 	
 }

 @media screen and (max-width: 1000px) {

	 /*h4{

 		text-align: left;
 		color:#00345c;
 		font-size: x-large;
 		font-weight: bold;
	 }*/

	 p,ul>li{
	 	font-size: 13px;
	 }


}
 @media screen and (max-width: 800px) {

 	.container{

 		padding-left:25px !important;
 	}
 	.my-react-cookie-banner{
 		height: 30% !important
 	}
}